:root {
    --primary-color: rgb(31, 184, 255);
}

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #0e0c13;
    justify-content: center;
}

body section{
    background-color: #100e17;
    max-width: 2500px;
    padding: 2px;
}

.menu ul {
    display: flex;
    list-style: none;
    padding: 0;
    /* transform: translateX(0%); */
}

.menu ul li {
    margin-left: 30px;
}

.menu ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 20px;
}

.menu ul li a:hover {
    color: var(--primary-color);
}

#nav-bar {
    padding: 5px;
    display: flex;
    width: 100%;
}

#bars {
    display: none;
    cursor: pointer;
}

.white-color {
    color: white;
}

.hamburger-menu {
    padding: 10px;
}

/* main menu */

.main-menu {
    display: flex;
    height: 100vh;
}

.info {
    padding-left: 100px;
    width: 50%;
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: center;
    /* align-items: center; */
}

.info label {
    background-color: var(--primary-color);
    padding: 10px 20px;
    border-radius: 40px;
    color: white;
    font-size: 20px;
    cursor: pointer;
    width: fit-content;
}

#details-info {
    text-align: justify;
}

.info h1 {
    margin-top: 10px;
    font-weight: bold;
    font-size: 55px;
}
#work {
    margin: 5px 0px;
    font-size: 35px;
}

#social-media {
    font-size: small;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    /* align-items: center; */
    justify-content: center;
}

#social-media a {
    margin-right: 20px;
    color: white;
}

.my-img-div {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#first-img {
    width: 400px;
    height: 400px;
    @media screen and (max-height: 800px) {
        width: 50vh;
        height: 50vh;
    }
    border-radius: 900px;
}

#second-img {
    width: 300px;
    height: 300px;
    border-radius: 900px;
    margin-bottom: 20px;
    display: none;
}

#about-me {
    display: flex;
    color: white;
}

#about-me .img {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#about-me .img img {
    width: 90%;
    height: 90%;
    object-fit: cover;
    /* border-radius: 900px; */
}

#about-text {
    display: flex;
    flex-direction: column;
    width: 50%;
    /* align-items: center; */
    justify-content: center;
    padding: 20px;
    text-align: justify;
}

.heading {
    font-size: 40px;
    font-weight: 600;
}

.btn-primary {
    background-color: var(--primary-color);
    padding: 10px 20px;
    border-radius: 40px;
    color: white;
    font-size: 20px;
    cursor: pointer;
    width: fit-content;
    margin-top: 20px;
    border: none;
    margin-left: auto;
    margin-right: auto;
}

.btn-primary:hover {
    box-shadow: 2px 4px 30px rgba(255, 255, 255, 0.4);
}

.sidebar {
    display: flex;
    position: relative;
}

#close-btn {
    display: none;
}

#work-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

#skill-blocks {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 20px;
    gap: 20px;
}

.card {
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 100%;
    height: 200px;
    background-color: #4d4c4c;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
    border-radius: 7px;
}

.card:hover {
    background-color: #413e3e;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.2);
    cursor: pointer;
    scale: 1.03;
}

.card :first-child {
    font-size: 30px;
    font-weight: bold;
}

.card :nth-child(2) {
    margin-top: 25px;
    color: var(--primary-color);
}

#tech-skills {
    margin-top: 20px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#skill-bars {
    width: 100%;
    padding: 15px 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px 20px;
}

.growth-card p {
    width: 100%;
    font-size: 25px;
    font-weight: bold;
    margin-top: 10px;
    color: var(--primary-color);
}

.progress-bar {
    width: 100%;
    height: 10px;
    background-color: #4d4c4c;
    border-radius: 5px;
    margin-top: 10px;
}

.progress-bar:hover {
    background-color: #413e3e;
    /* drop shadow */
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.2);
}

.progress {
    height: 10px;
    background-color: var(--primary-color);
    border-radius: 5px;
    margin-top: 10px;
}

#education-experience {
    margin: 20px 0px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#education {
    width: 100%;
}

#experience {
    width: 100%;
    margin-left: 10px;
}

.edu-card {
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    height: 200px;
    background-color: #4d4c4c;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
    border-radius: 7px;
    max-width: 1000px;
    width: 100%;
    gap: 5px;
}

.card-heading {
    font-size: 30px;
    font-weight: bold;
}

.card-sub-heading {
    margin-top: 10px;
    color: var(--primary-color);
    font-size: x-large !important;
}

.cards{
    margin: 10px 0 15px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer {
    width: 100%;
    background-color: #100e17;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

/* media queries */

@media only screen and (max-width: 600px) {
    .menu ul {
        display: none;
        flex-direction: column;
        padding: 10px 20px;
        position: fixed;
        top: 0;
        left: -70vh;
        width: 70vw;
        height: 100vh;
        background-color: #000000;
        transition: all 0.3s ease;
        z-index: 1;
        filter: opacity(0.85);
    }

    .menu ul li {
        margin: 10px 0px;
        border-bottom: 1px solid white;
        padding: 5px;
    }
    .menu ul li a {
        font-size: 25px;
    }

    .active {
        left: 0 !important;
        display: flex !important;
        transition: all 0.3s ease;
        #close-btn {
            display: block !important;
        }
    }
    .hide {
        display: none;
    }

    #bars {
        display: block;
        margin: 5px;
        font-size: 25px;
        color: white;
    }

    #about-me {
        flex-direction: column;
    }
    #about-me .img {
        width: 100%;
    }
    #about-me .img img {
        width: 100%;
        height: 100%;
    }
    #about-text {
        width: 100%;
        padding-left: 0px;
    }

    #first-img {
        width: 50vh;
        height: 50vh;
        border-radius: 900px;
    }

    #skill-bars {
        grid-template-columns: 1fr;
        padding: 5px ;
    }

    .heading {
        font-size: 30px;
    }

}

@media only screen and (max-width: 800px) {
    .info {
        width: 100vw;
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 5vh;
        background-image: url(/images/dp.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        margin-right: auto;
        justify-content: end;
    }
    .my-img-div {
        display: none;
    }
    .info {
        color: black;
        height: 100vh;
    }
    .white-color {
        color: black;
    }
    #nav-bar {
        position: absolute;
    }
    #info-data {
        background: rgba(255, 255, 255, 0.26);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(0px);
        -webkit-backdrop-filter: blur(0px);
        border: 1px solid rgba(255, 255, 255, 0.56);
        padding: 15px;
        padding-top: 22px;
    }
    #my-name {
        font-size: 40px;
    }

    #work {
        font-size: 25px;
    }

    #details-info {
        font-size: small;
        border: 0.3px solid black;
        padding: 2px 4px;
        border-radius: 5px;
    }

    #social-media {
        margin-top: 5px;
    }

    #about-me {
        margin-top: 20px;
    }

    #about-text {
        padding: 0 20px;
    }
    #skill-blocks {
        grid-template-columns: 1fr;
    }
    #education-experience {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 10px;
        margin: auto;
    }
    #experience {
        margin-left: 0px;
    }
}
